/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-container{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(27, 25, 25);
}

/* Header Rules */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 90px;
    padding: 0 15px;
    position: fixed;
    z-index: 500;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.932);
    /* DEBUG */
    /* background-color: antiquewhite; */
}


#logo-1{
    height: 45%;
}

#logo-2{
    display: none;
    filter: invert(0);
    margin-left: 4px;
}


.upgrade{
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    padding: 15px 40px;
    font-size: 12px;
}

.upgrade:hover{
    font-size: 14px;
    font-weight: bold;
    margin-right: -10px;
}

.point-marker{
    width: 230px;
    height: calc(100vh - 90px);
    z-index: 499;
    padding: 90px 10px 0;
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.point-marker img{
    vertical-align: middle;
    filter: invert(0.5);
}

.pages img{
    width: 28px;
    height: 28px;
    padding-right: 2px;
}

.pages > li{
    margin: 8px 0;
}

.pages > li:hover a{
    color: white;

}

.pages > li:hover  img{
    filter: invert(0);
}

.pages > li > a{
    font-weight: bold;
    font-size: 12px;
    color: gray;
    padding-left: 5px;
    font-weight: 600;
}

#selected{
    border-left: 3px solid #aefc3a;
    margin-left: -10px;
    padding-left: 6px;
}

#selected img{
    filter: invert(0);
}

#selected a{
    color: white;
}


.playlist{
    padding-left: 5px;
}

.playlist li{
    margin-top: 15px;
}

.playlist li:hover a{
    color: white;
}

.playlist  li a{
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.create > h6{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px
}

.created a{
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

.create i{
    font-size: 42px;
    vertical-align: middle;
    margin-right: 5px;
}

.middle{
    overflow-y: scroll;
    height: 100%;
}

.bottom{
    margin: 10px 0;
}

.bottom hr {
    margin: 8px 0;
}

.download{
    font-size: 10px;
    color: grey;
    font-weight: bold;
}

.download img{
    width: 20px;
    height: 20px;
    padding-right: 2px;
}

.installa-app{
    margin: 5px 0;
    text-decoration: none;
}

.installa-app hr{
    margin: 8px 0;
}

.profile{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.profile img{
    width: 25px;
    height: 25px;
    background-color: gray;
    filter: invert(0);
    border-radius: 50%;
    margin-right: 8px;
}

/* regole main */
.main{
    width: 100%;
    overflow-y: scroll;
    min-height: 100vh;
    padding-top: 110px;
    margin: 0 0 89px 230px;
    background-color: #141922;
    /* debug */
    /* height: 100vh; */
    /* width: 100vw; */
    /* background-color: crimson; */
}

.container{
    width: 100%;
    margin: 100px  auto;
    background-color: rgb(27, 25, 25);
}


.top-menu > ul{
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.top-menu li a{
    color: gray;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    padding-bottom: 3px;
}

.top-menu li a:hover{
    color: white;
}

.top-menu hr{
    border: 1px solid#adff2f;
    width: 30%;
    margin: auto;
}


main h3{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    right: 295px;
}
.title{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.title-2{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    margin-top: 5px;
    right: 275px;
}

section{
    margin: 30px 0 50px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.for-you{
    display: flex; 
    justify-content: flex-start;
    height: auto;
    margin: 0 0 100px 300px;

}
.card{
    width: 180px;
    min-height: 280px;
    text-align: center;
    position: relative;
}

.play-hover{
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.827);
    position: absolute;
    top:0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.play-hover i{
    font-size: 60px;
    color: white;
}

.card img{
    width: 100%;
}

.card:hover .play-hover{
    display: flex;
}


.card h6{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.circle.card img{
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    margin: 0 0 100px 300px;
}

.album{
    display: flex; 
    height: auto;
    margin: 0 0 100px 300px;
}



/* footer */
footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 501;
    height: 90px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222121;
}

.foot{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.foot.left img{
    height: 50%;
    margin-right: 10px;
}

.foot.left .icon{
    color: gray;
    margin-left: 40px;
}

.foot.left .icon i:hover{
    color: white;
}

.foot.left .icon i{
    margin-left: 10px;
    cursor: pointer;
}

.foot.left .music{
    color:white;
    font-weight: bold;
    font-size: 13px;
}

.foot.left .artist a{
    color: gray;
    font-weight: bold;
    font-size: 10px;
}
.foot.left .artist a:hover{
    text-decoration: underline;
    color: white;
}

.foot.center{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.foot.center .icon{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20%;
}

#play{
    font-size: 30px;
    margin: 0 10px;
}

.foot.center .bar-section{
    display: flex;
    align-items: center;
    gap: 20px;
    color: lightgray;
    font-size: 10px;
    font-weight: bold;
    height: 20%;
}

.bar{
    background-color: #5a5a5a;
    height: 4px;
    border-radius: 30px;
    cursor: pointer;
}

.time-bar{
    background-color: #b8b4b4;
    height: 4px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slider{
    background-color: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: none;
}

.foot.center .bar{
    width: 450px;
}


.foot.center .time-bar{
    width: 20%;
}

.foot.right{
    justify-content: flex-end;
    gap: 20px;
}

.foot.right .icon i:hover{
    color: white;
}

.foot.right .icon{
    color: #b8b4b4;
    font-size: 14px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.foot.right .bar{
    width: 130px;
}

.foot.right .time-bar{
    width: 20%;
}

/*  Medium Version */
@media screen and (max-width: 808px){
    .foot.left .icon{
        font-size: 15px;
        margin-left: 0px;
    }

    .foot.center .bar{
        width: 150px;
    }

    .foot.right .bar{
        width: 80px;
    }

    .foot.right .icon{
        font-size: 12px;
    }

    .foot.center .icon{
        font-size: 15px;
    }

    #play{
        font-size: 25px;
    }

}


/* Small Version */
@media screen and (max-width: 630px){
    header{
        margin-left: 60px;
        justify-content: flex-end;
    }
    
    .left-menu{
        width: 60px;
        padding: 0px;
        align-items: center;
    }
    
    #selected{
        border-left: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    main{
        margin: 0 0 90px 60px;
    }

    .playlist, .create, .pages span, .bottom span, hr{
        display: none;
    }

    .bottom img{
        display: block;
        margin: 8px 0;
    }

    .download img{
        width: 23px;
        height: 24px;
        margin-bottom: 15px;
    }

    #logo-s{
        display: inline-block;
    }

    #logo-l{
        display: none;
    }

    .foot.left .cover-preview{
        display: none;
    }
}

/* XS Version */
@media  screen and (max-width: 420px) {
    
    .foot.right .icon{
        flex-direction: column;
    }

    .foot.left .icon i{
        display: block;
        margin: 5px 0;
    }
}
