/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    color: grey;
    text-decoration: none;
}

h1{
    font-size: 25px;
    color: rgb(252, 252, 252);
    padding: 5px 40px;
    
}

.container.nav img{
    width: 20%;
    height: auto;
    padding: 5px;
    padding-bottom: 20px;
}

.spotify .logo.large{
    margin: 10px 15px;
    width: 90%;
}

.spotify .logo.mini{
    display: none;
    margin: 10px 15px;
    width: 20%;
}

.container.nav{
    width: 70%;
    padding: 5px;
    padding-bottom: 20px;
}

.white{
    position: fixed;
    color: white;
}

.home li{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
}
.home img{
    width: 20%;
    padding: 0%;
}

.home li i{
    font-size: 25px;
    padding-right: 5px;
    color: white;
}
.home a:hover{
    color: white;
}

.content{
    text-align: center;
    width: 30px;
    height: 30px;
    padding-right: 1px;
    border-left: 2px solid greenyellow;
}

#specalist{
    width: 80px;
    color: white;
    padding-left: 10px;
}
.nome.playlist :hover{
    transition: 1sec;
    color: white;

}
.crea a{
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

#square-plus{
    display: flex;
    justify-content: center;
    
}

#square-plus :hover{  
    transition: 1 sec;    
    color: white;            
}

.crea h7{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: grey;
}


.crea{
    margin: 10px;
    margin-top: 10px;
    font-size: 40px;
    color: white;

}
.wrapper-up{
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    
}

.nav-aside{
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-aside a:hover{
    color: white
}



.container.main{
    overflow-y: auto;
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgb(1, 7, 25);
}

.top-header{
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(5, 5, 36, 0.774); */
}

#btn{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 15px 20px;
}
.top-header :hover{
    transition: 1s;
    transform: scale(1.1);
}

.dowloand-app a:hover{
    color: white
}

#libreria{
    margin-bottom: 25px;

}
.menu-bar{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: auto;
    
}

.ul-menu{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}


.ul-menu a{
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin: 0 15px;
    font-size: 12px;
}

.menu-bar :hover{
    transition: 1 sec;    
    color: white; 
}

.evidenza{
    width: 30%;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(9, 192, 9);
    margin: auto;
}

.cards-played{
    display: flex;
    width: 100%;
    margin: 5px;
    word-wrap: break-word;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
    width: calc((100% / 6) - 10px)
}


.card h4{
    font-size: 16px;
    color: white;
    padding: 5px 0;
}
.card h5{
    font-size: 12px;
    color: rgb(126, 122, 122);
    padding: 5px 0;

}

.card img{
    width: 65%;
    z-index: 1;
}

.dowloand-app{
font-size: 15px;
width: 80%;
height: 100%;
background-color: rgb(0, 0, 3);
}

#ascolti{
    color: rgb(128, 125, 125);
    padding: 5px 40px;
}
#app{
    color: #ffffff8f;
    padding-left: 10px;
    width: 15%;
}

#profile{
    background-color: #f0eaea80;
    border-radius: 30px;
    padding-left: 5px;
    width: 15%;
    margin-top: 10px;

}

#dowload{
    padding-left: 5px;
    width: 15%;
}



/* bottom part */
.controller{
    display: flex;
    height: 160px;
    background-color: rgb(54, 52, 52);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.left-tools {
    display: flex;
    align-items: center;
    width: 28%;
    height: 100%;
}

#current-song {
    height: 52%;
    margin-left: 12px;
}

#current-img {
    width: 55px;
}

#iconsleft {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.heart {
    margin-left: 32px;
    margin-right: 6px;
}
#info-brano{
    font-size: medium;
    margin-bottom: 20px;
    padding-left: 15px;

}

#font-artist {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#font-brano {
    color: #fdf9f9a8;
    font-size: 14px;
}

.middle{
    width: 54%;
    display: flex;
    flex-direction: column;
}
.bar-tools {
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 22px;
    font-size: medium;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.music-tools {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 55%; 
}

#fa-solid {
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 22px;
}

.right-tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 28%;
}

.middle .time-music {
    display: flex;
    align-items: center;
    color: rgb(211, 211, 211);
    font-size: 12px;
    font-weight: bold;
    height: 20%;
  }
  
.tools-bar{
    color: #fdf9f9d2;
    margin-right: 10px;
}
.time-music {
    font-size: 12px;
    color: white;
}
.progress-music {
    border-radius: 20%;
    position:relative;
    z-index:1;
    margin-right: 12px;
    margin-left: 12px;
    height: 5px;
    width: 400px;
    background-color: #717171;
}

.icons.box {
    color: #fdf9f993;
    margin-left: 32px;
}


.sound-bar {
    height: 5px;
    width: 100px;
    background-color: #717171;
    border-radius: 20%;
    position:relative;
    z-index:1;
    margin-right: 12px;
}

/****************** RESPONSIVE ******************/

/* Medium Version*/
@media screen and (max-width:808px){
    .card{
        width: calc((100% / 4) - 20px);
    }
}


        /* Mobile Version*/
@media screen and (max-width: 550px) {

    .container.main{
        width: calc(100% - 100px);
    }
    .card{
        width: calc((100% / 2) - 20px);
    }

    .nav-aside{
        width: 100px;
    }

    .dowloand-app{
        padding: 0%;
        align-self: center;
    }
    #menu a{
        display: none;
    }

    

}

