/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Header Rules */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 15px;
    position: fixed;
    z-index: 499;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
.spotify-1{
    height: 45%;
}

.upgrade{
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    padding: 15px 40px;
    font-size: 12px;
}

.container{
    display: flex;
    /* debug */

}


.main-container{
    display: flex;
    justify-content: flex-start;
}

.point-marker{
    width: 280px;
    height: calc(100vh);
    margin-top: 130px;
    /* DEBUG */
    background-color: red;
}

/* regole main */
.main{
    width: 100%;
    overflow-y: scroll;
    min-height: 100vh;
    margin-top: 130px;
    /* debug */
    height: 100vh;
    width: 100vw;
    background-color: crimson;
}




/* footer */
footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 500;
    /* debug */
    background-color: cornflowerblue;
    height: 120px;
    width: 100%;


}